<a href="{{bookmark.url}}">{{ bookmark.title }}</a>

<a href="{{bookmark.url}}">{{ bookmark.url }}</a>

<p>{{ bookmark.description }}</p>

<div>
    {% for tag in bookmark.tags.all %}
        <a href="{{bookmark.url}}">{{ tag }}</a><span>{% if bookmark.tags.all|length != forloop.counter %},{% endif %}</span>
    {% endfor %}
</div>

<a href="{% url 'edit' bookmark.id %}" class="text-sm text-black underline">edit</a>
<p class="inline text-sm"> | </p>
<a
    role="button"
    hx-target="closest div"
    hx-swap="outerHTML"
    hx-delete="/delete/{{bookmark.id}}/"
    hx-confirm="Are you sure you want to delete the bookmark?"
    class="text-sm underline"
>delete</a>