{% extends 'base.html' %}

{% block nav %}<a href="{% url 'index' %}">bookmarks</a>{% endblock nav %}

{% block content %}

<form
    hx-get="/search/"
    hx-target="#bookmarks"
    hx-swap="innerHTML"
>
    <input type="text" name="q" placeholder="Search...">
</form>

<button onclick="location.href='{% url "index" %}'">Clear</button>

<button onclick="location.href='{% url "add" %}'">Add bookmark</button>

<div id="bookmarks">
    {% include 'partials/bookmarks.html' %}
</div>

{% endblock content %}
